<a href="https://colab.research.google.com/github/carolyn-wang/hrc-asylum/blob/main/file_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
merge1 = [pd.read_csv('B_TblProceeding_cleaned_2.csv'), pd.read_csv('A_TblCase_cleaned_2.csv')]

/Users/vyoma/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/vyoma/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,15,17,18,27,29,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# 1.   Merge B_TblProceeding_cleaned_2.csv and A_TblCase_cleaned_2.csv

In [ ]:
for df in merge1:
    print(df.shape)

merge1[0].columns = ['B_' + col.upper() for col in merge1[0].columns]
merge1[1].columns = ['A_' + col.upper() for col in merge1[1].columns]

(10132076, 38)
(7748930, 39)

In [ ]:
merge2 = [merge1[0].merge(merge1[1], how='left', left_on='B_IDNCASE', right_on='A_IDNCASE'), 
          pd.read_csv('tbl_RepsAssigned_Alien.csv')]

# 2. Merge B_TblProceeding_cleaned_2.csv and tbl_RepsAssigned_cleaned.csv

In [ ]:
for df in merge2:
    print(df.shape)

merge2[1].columns = ['REPS_' + col.upper() for col in merge2[1].columns]

(10132076, 77)
(3288019, 3)

In [ ]:
del merge1

In [ ]:
merge3 = [merge2[0].merge(merge2[1], how='left', left_on='B_IDNCASE', right_on='REPS_IDNCASE'), 
         pd.read_csv('tbl_RepsAssigned_INS.csv')]

In [ ]:
for df in merge3:
    print(df.shape)

merge3[1].columns = ['REPS_' + col.upper() for col in merge3[1].columns]

(10132076, 80)
(7033863, 3)

In [ ]:
del merge2

In [ ]:
merge4 = [merge3[0].merge(merge3[1], how='left', left_on='B_IDNPROCEEDING', right_on='REPS_PARENT_IDN'), 
         pd.read_csv('tbl_JuvenileHistory_encoded.csv')]

# 3. Merge B_TblProceeding_cleaned_2.csv and tbl_JuvenileHistory_encoded.csv

In [ ]:
for df in merge4:
    print(df.shape)

merge4[1].columns = ['JUV_' + col.upper() for col in merge4[1].columns]

(10132076, 83)
(2068766, 7)

In [ ]:
del merge3

In [ ]:
merge5 = [merge4[0].merge(merge4[1], how='left', left_on='B_IDNPROCEEDING', right_on='JUV_IDNPROCEEDING'), 
          pd.read_csv('judge_data_key.csv')]

# 4. Merge B_TblProceeding_final.csv with judge_data_key.csv

In [ ]:
for df in merge5:
    print(df.shape)

(10132076, 90)
(641, 70)

In [ ]:
del merge4

In [ ]:
final_df = merge5[0].merge(merge5[1], how='left', left_on='B_IJ_CODE', right_on='JUDGE_CODE')

In [ ]:
final_df.shape

(10132076, 160)

In [ ]:
final_df

,B_IDNPROCEEDING,B_IDNCASE,B_OSC_DATE,B_INPUT_DATE,B_BASE_CITY_CODE,B_HEARING_LOC_CODE,B_IJ_CODE,B_TRANS_IN_DATE,B_PREV_HEARING_LOC,B_PREV_HEARING_BASE,...,JUDGE_WI_BAR,JUDGE_WY_BAR,JUDGE_PR_BAR,JUDGE_FEMALE,JUDGE_MALE,JUDGE_MILITARY_EXP,JUDGE_TEACHING_EXP,JUDGE_TEACHING_SCHOOL,JUDGE_DHS_EXP,JUDGE_CODE
0,10354816,10238811.0,2021-12-28,NaN,BAL,BAX,DK1,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,University of Detroit,1.0,DK1
1,10354817,10238812.0,2021-12-28,NaN,ORL,IAD,IAD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10354818,10238813.0,2021-12-28,NaN,BAL,BAX,DK1,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,University of Detroit,1.0,DK1
3,10354819,10238814.0,2021-12-28,NaN,ORL,IAD,IAD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10354820,10238815.0,2021-12-28,NaN,NLA,NLT,NNA,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,NNA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10132071,2346784,3930570.0,1998-12-13,1999-03-17 13:40:00,SNA,SNA,GPM,1999-04-01,HLG,HLG,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,GPM
10132072,2360046,3940478.0,1999-03-12,1999-06-14 00:00:00,ELP,ELP,GDB,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1.0,GDB
10132073,986170,2724276.0,1996-12-02,1996-12-30 00:00:00,HSG,HUN,JLB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10132074,1300339,2969837.0,1998-03-25,1998-04-08 00:00:00,LOS,LOS,AAT,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,"University of Southern California, George Wash...",0.0,AAT
10132075,1337099,3000616.0,1997-02-07,1997-02-28 00:00:00,LOS,LOS,HPI,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,HPI

In [ ]:
final_df.to_csv('data_restrict_impute_features_trim_rename.csv', index=False)